.about-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: red solid 5px; */
  transform: translateY(-20%);
}
.about-img {
  opacity: 1;
  width: 50%;
}

.about-text-container {
  width: 50%;
  background: rgb(138, 192, 239, 0.4);;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

h1{
    font-family: "Permanent Marker", cursive;
    font-size: 52px;
    color: black;
}

.about-title {
    margin-top: 50px;
}